

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5e5c3;
    border: 1px solid #b99976;
    border-radius: 5px;
    align-items: center;
}

h1 {
    color: #664229;
    margin-bottom: 10px;
}

.student_id_text {
    color: #664229;
    font-size: 18px;
    margin-bottom: 20px;
}

.view_btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    align-self: center;
}

.button_evaluate {
    display: block;
    width: 200px;
    background-color: #b99976;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_evaluate:hover {
    background-color: #987554;
}

.form_evaluate {
    margin-top: 20px;
    text-align: left;
}

.form_evaluate input {
    width: 100%; 
    max-width: 200px;
    height: 30px;
    border-radius: 3px;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Responsive Styles for Mobile */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%; 
    }

    .view_btn, .button_evaluate {
        width: 100%; 
        max-width: 200px; 
    }
}

/* Responsive Styles for Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 70%; 

    .view_btn, .button_evaluate {
        width: 50%;  
        max-width: 200px; 
    }
}}

/* Responsive Styles for Desktop */
@media only screen and (min-width: 1025px) {
    .container {
        width: 60%; 
    }
}
