.navbar-container {
  background-color: #000000;
  border-bottom: #ffd4ab 2px solid;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.title {
  margin-right: auto;
  color: #ffd5b8;
}

.logged-in-info {
  margin-right: 10px;
  color: #ffffff;
}

.logout-button {
  background-color: #fca311;
  border: #ffd4ab 1 px solid;
  color: black;
  border: none;
  width: 200px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #f5f5f5;
}

.container-studentList {
  display: flex;
}

.filter-container {
  width: 33%;
  padding: 30px;
  background-color: rgb(37, 33, 33);
  border-right: #ffd4ab 2px solid;
}

.filter-container button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fca311;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-container button:hover {
  background-color: white;
}

.student-list-container {
  flex: 1;
  padding: 20px;
  background-color: #050505;
}

.student {
  background-color: #111111;
  margin-bottom: 10px;
  border: rgb(254, 254, 254) 1px solid;
  padding: 5px;
}

.student-link {
  text-decoration: none;
  color: #fdfaf7;
  border: 1px #ffd4ab;
  margin-left: 5px;
}

.student-link:hover {
  text-decoration: underline;
}

.student-buttons {
  display: flex;
}

.student-buttons button {
  margin-right: 10px;
  background-color:#fca311;
  border: #ffd4ab 1 px solid;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.student-buttons button:hover {
  background-color: white;
}

.student-info {
  font-size: 24px;
  margin-right: auto;
  margin-left: 5px;
  color: white;
}

.locked-message {
  color: #fca311;
  font-size: 16px;
}

.email_font {
  font-size: 15px;
}
.img_list {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .container-studentList {
      flex-direction: column;
  }

  .filter-container, .student-list-container {
      width: 100%;
  }
}
