body{
    background-color: rgb(37, 33, 33);
}
.container_login {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.button_login {
  background-color: #fca311;
  border: #ffd4ab 1 px solid;
  color: black;
  border: none;
  width: 300px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.container_login_div {
  padding: 20px;
  text-align: center;
  color: white;
  align-items: center;
}

.button_login:hover {
  background-color: white;
}
.img_login {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    margin-bottom: 30px;
}


.form-container {
  text-align: center;
  color: white;
}

.button_submit {
  background-color: #fca311;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

button:hover {
  background-color: white;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.mentor_div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .button_login {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
  }

  .button_submit {
      width: 100%;
      margin-right: 0;
  }
}
